{% extends 'base.html' %}

{% block content %}
    <h1>TASK</h1>
    <ul>
        {% for tasks in task %}
            <li>
                <a href="{% url "task_detail" tasks.id %}">
                    {% if tasks.important %}
                        <strong>{{ tasks.title }}</strong>
                    {% else %}
                        <h2>{{ tasks.title }}</h2>
                    {% endif %}
                    <p>{{ tasks.description }}</p>
                    <p>{{ tasks.important }}</p>
                    <p>{{ tasks.user.username }}</p>
                    <p>{{ tasks.datecompleted }}</p>
                </a>
            </li>
            <br><br>
        {% endfor %}
    </ul>
    
{% endblock %}
